<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32021">
		<setting label="32013" type="text" id="user" default="" />
		<setting label="32014" type="action" id="pass" default="" option="hidden" action="RunScript(script.bluray.com,get_password)"/>
		<setting id="default_country" type="enum" label="32037" values="All Countries|United States|United Kingdom|Canada|Germany|France|Australia|New Zealand|South Africa|Italy|Spain|Hong Kong|South Korea|Japan|Taiwan|Belgium|Austria|Switzerland|Brazil|Portugal|China|Czech Republic|Denmark|Finland|Greece|Hungary|India|Mexico|Holland|Norway|Poland|Russia|Sweden|Thailand|Turkey|Ukraine" default="0" />
	</category>
	<category label="32022">
		<setting id="default_collection" type="enum" label="32020" values="All|Movies|Games|Blu-ray|DVD|PS3|PS4|XBox 360|XBox One|Wii|Wii U|Theatrical|UltraViolet|Amazon|iTunes" default="0" />
		<setting label="32034" type="lsep" />
		<setting id="all_cat_7" type="bool" label="Blu-ray" default="true" />
		<setting id="all_cat_21" type="bool" label="DVD" default="false" />
		<setting id="all_cat_16" type="bool" label="PS3" default="false" />
		<setting id="all_cat_29" type="bool" label="PS4" default="false" />
		<setting id="all_cat_23" type="bool" label="XBox 360" default="false" />
		<setting id="all_cat_30" type="bool" label="XBox One" default="false" />
		<setting id="all_cat_26" type="bool" label="Wii" default="false" />
		<setting id="all_cat_27" type="bool" label="Wii U" default="false" />
		<setting id="all_cat_20" type="bool" label="Theatrical" default="false" />
		<setting id="all_cat_24" type="bool" label="UltraViolet" default="false" />
		<setting id="all_cat_28" type="bool" label="Amazon" default="false" />
		<setting id="all_cat_31" type="bool" label="iTunes" default="false" />
		<setting label="Movies" type="lsep" />
		<setting id="movies_cat_7" type="bool" label="Blu-ray" default="true" />
		<setting id="movies_cat_21" type="bool" label="DVD" default="false" />
		<setting id="movies_cat_20" type="bool" label="Theatrical" default="false" />
		<setting id="movies_cat_24" type="bool" label="UltraViolet" default="false" />
		<setting id="movies_cat_28" type="bool" label="Amazon" default="false" />
		<setting id="movies_cat_31" type="bool" label="iTunes" default="false" />
		<setting label="Games" type="lsep" />
		<setting id="games_cat_16" type="bool" label="PS3" default="false" />
		<setting id="games_cat_29" type="bool" label="PS4" default="false" />
		<setting id="games_cat_23" type="bool" label="XBox 360" default="false" />
		<setting id="games_cat_30" type="bool" label="XBox One" default="false" />
		<setting id="games_cat_26" type="bool" label="Wii" default="false" />
		<setting id="games_cat_27" type="bool" label="Wii U" default="false" />
	</category>
	<category label="32023">
		<setting label="32024" type="lsep" />
		<setting id="used_cat_7" type="bool" label="Blu-ray" default="true" />
		<setting id="used_cat_21" type="bool" label="DVD" default="true" />
		<setting id="used_cat_16" type="bool" label="PS3" default="false" />
		<setting id="used_cat_29" type="bool" label="PS4" default="false" />
		<setting id="used_cat_23" type="bool" label="XBox 360" default="false" />
		<setting id="used_cat_30" type="bool" label="XBox One" default="false" />
		<setting id="used_cat_26" type="bool" label="Wii" default="false" />
		<setting id="used_cat_27" type="bool" label="Wii U" default="false" />
		<setting id="used_cat_20" type="bool" label="Theatrical" default="false" />
		<setting id="used_cat_24" type="bool" label="UltraViolet" default="true" />
		<setting id="used_cat_28" type="bool" label="Amazon" default="true" />
		<setting id="used_cat_31" type="bool" label="iTunes" default="true" />
	</category>
    <category label="32040">
        <setting id="export_path" type="folder" option="writeable" label="32041" default="" />
        <setting id="export_offline_tag" type="bool" label="32042" default="true" />
        <setting id="export_online_tag" type="bool" subsetting="true" label="32043" default="true" enable="eq(-1,true)"/>
		<setting id="export_write_nfo" type="bool" label="32044" default="true" />
        <setting id="export_get_tmdb" type="bool" subsetting="true"label="32056" default="true" enable="eq(-1,true)"/>
        <setting id="export_get_fanart" type="bool" subsetting="true"label="32057" default="true" enable="eq(-2,true)"/>
		<setting id="export_trigger_scan" type="bool" label="32045" default="true" />
        <setting label="32046" type="action" id="export_remove_all" action="RunScript(script.bluray.com,export_remove_all)"/>
        <setting label="32058" type="action" id="export_refresh" action="RunScript(script.bluray.com,export_refresh)"/>
	</category>
</settings>
